@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kodchasan';
  src: url('/fonts/Kodchasan-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* 
h1 {
  font-size:40px
}

h2 {
  font-size:32px
}

h3 {
  font-size:24px
} */


body {
  background-color: black;
  background-image:url('/images/pexels-kaip-1341279.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px) brightness(40%);

  color:#ffffff;
  font-weight: 200;
  font-family: 'Kodchasan';
}

.container {
    max-width: 1284px;
}

.container.post-inner {
  max-width: 767px;
}

.logo-wrap img {
  position: relative !important;
}

.post-acf {
  padding: 14px 20px 17px 20px;
  border-color:#2C2C2C;
}

@media(max-width: 767px) {
  .post-acf {
    padding: 14px 12px 17px 12px;
  }
}

.post-acf .label {
  color: #ABABAB;
  font-size:14px;
  padding-bottom:3px;
}

.post-inner img {
  margin-top:12px;
}

.wp-video {
  position: relative;
  width: 100% !important;
}
